<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Your New Flask App</title>

  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Almarai:wght@800&amp;family=Nunito+Sans&amp;display=swap" />
</head>

<body>
    <div class="container">
        <div class="content">
            <h1>Welcome to your OLD (HA!) <a href="https://flask.palletsprojects.com/en/1.1.x/">Flask App</a>!</h1>

            <p>
            This application is an example of how to deploy a Flask Application to DigitalOcean's App
            Platform. Check out their <a href="https://flask.palletsprojects.com/en/1.1.x/quickstart/">documentation</a> to
            learn more about flask.
            </p>

        </div>
    </div>

</body>

</html>
